 /* TaskName, code started for adding route to pagename (Ahmed Abdelrahman, Omar Abdelrahman, Khanh Dat Truong) GroupNumber, BMG5109 Medical Systems Innovation, 2023 */
 
 body {
  
    width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      /* background-color: lightblue; */
      background-image: url(https://img.freepik.com/free-photo/perspective-exterior-nobody-empty-box_1258-260.jpg?w=1380&t=st=1677026336~exp=1677026936~hmac=5d242be3f77542876bb5f1f95f8f1b5cd5955a60668ea772bb515862f034403c);

      background-repeat:no-repeat;

      background-size:cover;

      background-position:center;
}
  
   

  form {
    max-width: 700px; 
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .header {
    text-align: center;
    color: black;
    /* background-color: white; */
    /* padding: 70px; */
    margin-top: 60px;
    margin-bottom: 30px;

  }
  .header2 {
    text-align: center;
    color: black;
    /* background-color: white; */
    margin-bottom: 30px;

  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #006F8A;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("down-arrow.svg") no-repeat right center / 20px;
    padding-right: 30px;
  }
  
  input[type="file"] {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: none;
  }
  
  input[type="file"]:focus,
  input[type="file"]:hover {
    border-color: #008CBA;
  }
  
  @media screen and (max-width: 600px) {
    form {
      padding: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    select,
    input[type="date"],
    input[type="file"] {
      padding: 8px;
    }
  
    input[type="submit"] {
      padding: 8px;
    }
  }
  /* TaskName code Ended for adding route to pagename (Ahmed Abdelrahman, Omar Abdelrahman, Khanh Dat Truong) GroupNumber, BMG5109 Medical Systems Innovation, 2023 */