 /*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/

.div1{
  margin-right: 50px;
}

.banner{
  max-width: 100%;
  height: auto;
  position: relative;
  
}
.mainclass{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #ffffff;
  padding: 200px;;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #808080;
  color: #fff;
}
.wrapper{
  width: 480px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #747474;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #747474;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0);
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #747474, #000000);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);


}

form .field input[type="submit"]:hover{
    background: linear-gradient(-135deg, #000000, #747474);
  
    
  }
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}


/* Styles for Login.ejs and Register.ejs pages */

.btn-new

{

background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
font-weight: bold;
color: white;

}
.conatiner :hover

{

  background: linear-gradient(-135deg, rgb(0, 0, 0), #747474);
color: white;

}


/*
CSS for Testamonial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 20px 20px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #808080;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #000000;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}


/* Demo purposes only */

.bodytestamonial {
  background-color: #212121;
  text-align: center;
  padding: 7%;
}

/*
Another section 
*/

* {
  box-sizing:border-box;
}

.content-container {
  padding: 85px;
}

.col-container:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px;
}

.column-one {
  float: left;
  width: 66.66666%;
  padding: 35px;
}

.column-two {
  float: left;
  width: 33.33333%;
  padding: 35px;
}

.l-font {
  font-size: 25px;
   color: #03071e;
}

.xl-font {
  font-size: 55px;
  color: #03071e;
}

.button {
  border: 5px solid #03071e;
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  color: #03071e;
  font-weight: bold;
  transition: .2s;
}

.button:hover {
  background-color: #03071e;
  color: white;
}

.zigzagimg {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .column-one,
  .column-two {
    width: 100%;
    text-align: center;
  }
  .zigzagimg {
    margin: auto;
  }
}
