<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/brain by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<!-- Bootstrap CSS link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- Font Awesome CSS link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

<head>

<%- include('../partials/header') -%>

  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="brain.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link href="css/login.css" rel="stylesheet" type="text/css">
  <link href="css/brain-diagnostics.css" rel="stylesheet" type="text/css">

 
  <style>
    /*
Copyright (c) 2011 by Sorkin Type Co (www.sorkintype.com eben@eyebytes.com), with Reserved Font Name "Fjalla"

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-
*/
    @font-face {
      font-family: 'Fjalla One';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://img1.wsimg.com/gfonts/s/fjallaone/v13/Yq6R-LCAWCX3-6Ky7FAFrOF6lw.ttf) format('truetype');
    }

    /*
Copyright 2010, 2012, 2014 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name Source.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-
*/
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  $(document).ready(function() {
  $('#patientForm').submit(function(event) {
  event.preventDefault(); // Prevent default form submission
  // Get form data
  var formData = new FormData(this);
  // Send AJAX request
  $.ajax({
    url: "/recordUpdate",
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(data) {
      // Handle successful response from server
      //alert(data.message);
      $("#testResult")
        .val(data.message);
    },
    error: function(xhr, textStatus, errorThrown) {
      // Handle error response from server
      alert(textStatus + ': ' + errorThrown);
    }
  });
});
});
</script>
</head>

<body class="x x-fonts-fjalla-one">
  <div id="layout-84-e-67726-d-5-dd-4591-ba-17-0-d-8628-d-44-ded" class="layout layout-layout layout-layout-layout-19 locale-en-CA lang-en">
    <div data-ux="Page" id="page-5333" class="x-el x-el-div x-el c1-1 c1-2 c1-3 c1-4 c1-5 c1-6 c1-7 c1-8 c1-9 c1-a c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
      <div data-ux="Block" class="x-el x-el-div page-inner c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
        <div id="b639448c-0c69-4bc5-9a31-6dbcdc7176cf" class="widget widget-contact widget-contact-contact-3">
          <div data-ux="Widget" role="region" id="b639448c-0c69-4bc5-9a31-6dbcdc7176cf" class="x-el x-el-div x-el c1-1 c1-2 c1-3 c1-b c1-c c1-d c1-e c1-f c1-g c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
              <section data-ux="Section"
                class="x-el x-el-section c1-1 c1-2 c1-3 c1-i c1-j c1-3o c1-b c1-c c1-m c1-n c1-d c1-e c1-f c1-g">
                <div data-ux="Container"
                  class="x-el x-el-div c1-1 c1-2 c1-p c1-q c1-r c1-s c1-t c1-b c1-c c1-61 c1-d c1-62 c1-e c1-63 c1-f c1-64 c1-g">
                  <h1 role="heading" aria-level="1" data-ux="SectionHeading" data-aid="CONTACT_SECTION_TITLE_REND" data-promoted-from="2" data-order="0" data-typography="HeadingBeta" class="x-el x-el-h1 c1-1 c1-1x c1-1b c1-1c c1-6w c1-3j c1-3k c1-2e c1-6x c1-1v c1-1y c1-6a c1-1j c1-43 c1-6y c1-6b c1-6z c1-6c c1-6d c1-6e">
                    
                    <!--heading-->
                    <br>
                    <br>
                    <span data-ux="Element" class="">Brain Diagnostics</span></h1>
                  <div data-ux="Content" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                    <div data-ux="Element" id="bs-7" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                      <div data-ux="Grid"
                        class="x-el x-el-div c1-1 c1-2 c1-12 c1-74 c1-75 c1-76 c1-2e c1-77 c1-2f c1-78 c1-b c1-c c1-79 c1-7a c1-7b c1-7c c1-d c1-e c1-f c1-g">
                        <div data-ux="GridCell"
                          class="x-el x-el-div c1-1 c1-2 c1-74 c1-7d c1-7e c1-7f c1-t c1-28 c1-7g c1-2a c1-7h c1-b c1-c c1-7i c1-7j c1-7k c1-7l c1-7m c1-7n c1-7o c1-d c1-7p c1-7q c1-7r c1-e c1-f c1-g">
                          <div data-ux="Block" data-aid="CONTACT_FORM_CONTAINER_REND"
                            class="x-el x-el-div c1-1 c1-2 c1-1w c1-1v c1-b c1-c c1-d c1-e c1-f c1-g">
                            <form
                            id="patientForm" 
                            data-ux="Form"
                            action="/recordUpdate"
                            method="post"
                            class="x-el x-el-form c1-1 c1-2 c1-2f c1-b c1-c c1-d c1-e c1-f c1-g"
                            enctype="multipart/form-data"
                            >
                            <!--   action="https://e860-174-116-62-228.ngrok.io/recordUpdate"  -->
                              
                              <input type="text" name="_app_id" autoComplete="off" tabindex="-1" style="display:none" value="" />

                              <!--first name field-->
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-7u c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="InputFloatLabel" type="text" data-aid="CONTACT_FORM_EMAIL"
                                    class="x-el x-el-div c1-1 c1-2 c1-3o c1-b c1-c c1-d c1-e c1-f c1-g">
                                    <input
                                      name="firstName"
                                      type="text" role="textbox" aria-multiline="false" data-ux="InputFloatLabel"
                                      id="input5388" placeholder="First Name of patient" data-aid="CONTACT_FORM_EMAIL" data-typography="InputAlpha"
                                      class="x-el x-el-input c1-1 c1-2 c1-h c1-7v c1-4 c1-7w c1-7x c1-7y c1-7z c1-80 c1-4e c1-4f c1-81 c1-2m c1-57 c1-b c1-82 c1-42 c1-43 c1-83 c1-84 c1-85 c1-86 c1-87 c1-88 c1-89 c1-8a c1-8b c1-8c c1-8d c1-45 c1-46 c1-47 c1-48" />
                                    <label
                                      data-ux="InputFloatLabelLabel" for="input5388" data-typography="InputAlpha"
                                      class="x-el x-el-label c1-1 c1-2 c1-1o c1-1b c1-1c c1-4g c1-8e c1-8f c1-8g c1-8h c1-b c1-82 c1-42 c1-43 c1-8d c1-45 c1-46 c1-47 c1-48">
                                      First Name
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <!--last name field-->
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-7u c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="InputFloatLabel" type="text" data-aid="CONTACT_FORM_EMAIL"
                                    class="x-el x-el-div c1-1 c1-2 c1-3o c1-b c1-c c1-d c1-e c1-f c1-g">
                                    <input
                                      name="lastName"
                                      type="text" role="textbox" aria-multiline="false" data-ux="InputFloatLabel"
                                      id="input5388" placeholder="Last name of patient" data-aid="CONTACT_FORM_EMAIL" data-typography="InputAlpha"
                                      class="x-el x-el-input c1-1 c1-2 c1-h c1-7v c1-4 c1-7w c1-7x c1-7y c1-7z c1-80 c1-4e c1-4f c1-81 c1-2m c1-57 c1-b c1-82 c1-42 c1-43 c1-83 c1-84 c1-85 c1-86 c1-87 c1-88 c1-89 c1-8a c1-8b c1-8c c1-8d c1-45 c1-46 c1-47 c1-48" />
                                    <label
                                      data-ux="InputFloatLabelLabel" for="input5388" data-typography="InputAlpha"
                                      class="x-el x-el-label c1-1 c1-2 c1-1o c1-1b c1-1c c1-4g c1-8e c1-8f c1-8g c1-8h c1-b c1-82 c1-42 c1-43 c1-8d c1-45 c1-46 c1-47 c1-48">
                                      Last Name
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <!--email field-->
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-7u c1-b c1-c c1-d c1-e c1-f c1-g">
                                <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g">
                                  <div data-ux="InputFloatLabel" type="text" data-aid="CONTACT_FORM_EMAIL"
                                    class="x-el x-el-div c1-1 c1-2 c1-3o c1-b c1-c c1-d c1-e c1-f c1-g">
                                    <input
                                      name="email"
                                      type="text" role="textbox" aria-multiline="false" data-ux="InputFloatLabel"
                                      id="input5388" placeholder="Email of patient" data-aid="CONTACT_FORM_EMAIL" data-typography="InputAlpha"
                                      class="x-el x-el-input c1-1 c1-2 c1-h c1-7v c1-4 c1-7w c1-7x c1-7y c1-7z c1-80 c1-4e c1-4f c1-81 c1-2m c1-57 c1-b c1-82 c1-42 c1-43 c1-83 c1-84 c1-85 c1-86 c1-87 c1-88 c1-89 c1-8a c1-8b c1-8c c1-8d c1-45 c1-46 c1-47 c1-48" />
                                    <label
                                      data-ux="InputFloatLabelLabel" for="input5388" data-typography="InputAlpha"
                                      class="x-el x-el-label c1-1 c1-2 c1-1o c1-1b c1-1c c1-4g c1-8e c1-8f c1-8g c1-8h c1-b c1-82 c1-42 c1-43 c1-8d c1-45 c1-46 c1-47 c1-48">
                                      Email
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <!--disease type-->
                              <label for="disease type">disease type:</label>
                              <div class="dropdown">
                                <select name="diseaseType">
                                  <option value="Default" selected disabled>Select a disease type</option>
                                  <option value="Glioma">Glioma</option>
                                  <option value="Alzheimers">Alzheimers</option>
                                </select>
                              </div>
                              <br>
                              <!--test type-->
                              <label for="test type">test type:</label>
                              <div class="dropdown">
                               <select name="testType">
                                 <option value="" selected disabled>Select a test type</option>
                                 <option value="X-ray">X-ray</option>
                                 <option value="MRI">MRI</option>
                                 <option value="CT Scan">CT Scan</option>
                               </select>
                             </div>
                             <br>
                    
                             <!--test date-->
                             <div class="form-group">
                              <label for="date">Select the date of the test:</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="date" class="form-control" id="date" name="date">
                              </div>
                              </div> 

                              <!--image upload-->
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-7u c1-b c1-c c1-d c1-e c1-f c1-g">          
                                <label data-ux-btn="primary" 
                                data-ux="ButtonPrimary"
                                for="file"                              
                                ></label>
                                <input
                                name="image"
                                color="PRIMARY"
                                fill="GHOST"
                                shape="SQUARE"
                                decoration="LINES"
                                shadow="NONE"
                                data-typography="ButtonAlpha"
                                class="x-el x-el-button"
                                type="file" id="image" name="image" accept="image/*"/>
                              </div>  


                              <!-- Test Result -->
                              <label for="testResult">Test Result:</label>
                              <input type="text" id="testResult" name="testResult" disabled="disabled" required><br><br>

                              <!--button-->
                              <div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-7u c1-b c1-c c1-d c1-e c1-f c1-g">
                               <input
                                        type="submit"
                                        value="Send"
                                        data-ux-btn="primary"
                                        data-ux="ButtonPrimary"
                                        color="PRIMARY"
                                        fill="GHOST"
                                        shape="SQUARE"
                                        decoration="LINES"
                                        shadow="NONE"
                                        type="submit"
                                        data-aid="CONTACT_SUBMIT_BUTTON_REND"
                                        data-tccl="ux2.contact.submit_form.click,click"
                                        state="default"
                                        data-typography="ButtonAlpha"
                                        class="x-el x-el-button c1-3w c1-1x c1-1d c1-57 c1-8j c1-13 c1-1w c1-1v c1-1a c1-1c c1-1b c1-3o c1-t c1-4 c1-4e c1-4f c1-51 c1-53 c1-8k c1-2m c1-2k c1-26 c1-8l c1-8m c1-8n c1-56 c1-8o c1-b c1-49 c1-65 c1-42 c1-8p c1-8q c1-8r c1-8s c1-8t c1-8u c1-8v c1-8w c1-8x c1-8y c1-8z c1-90 c1-91 c1-92 c1-93 c1-94 c1-45 c1-46 c1-47 c1-48"
                                      />
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
  </div>

  <footer>
<%- include('../partials/footer-new') -%>

</footer>
</body>
</html>