<!-- <%- include('../partials/header') -%>
    <script src="https://smtpjs.com/v3/smtp.js"></script>  
<br> <br> <br> <br> <br> <br> -->


<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">

</head>
<body>
    <%- include('../partials/header') -%>


<div class="container">
        <div class="title">Comprehensive Metabolic Panel Appointment Form</div>
        <div class="content">
            <form action="/cmpform" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" name="First_Name" placeholder="Enter First Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" name="Last_Name" placeholder="Enter Last Name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" name="Address" placeholder="Enter your address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Postal Code</span>
                        <input type="text" name="PostalCode" placeholder="Enter your Postal Code" required pattern="[0-9]{6}">
                    </div>
                    <div class="input-box">
                        <span class="details">City</span>
                        <input type="text" name="City" placeholder="Enter your City" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Province</span>
                        <input type="text" name="Province" placeholder="Enter your Province" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Country</span>
                        <input type="text" name="Country" placeholder="Enter your Country" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email Id</span>
                        <input type="text" name="EmailId" placeholder="Enter Your Email Id" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Email</span>
                        <input type="text" name="ConfirmEmail" placeholder="Enter Your Email ID" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Contact Number</span>
                        <input type="number" name="Number" placeholder="Enter your contact number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Appointment Date</span>
                        <input type="text" name="Appointment_date" placeholder="Enter your Date of Appointment" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Submit">
                    <!-- Submit   -->
                </div>
            </form>
        </div>
    </div>

</body>

</html>