<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Speciality page | Cardiology</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link href="css/heartdiseasefrontend.css" rel="stylesheet" type="text/css">


</head>
<header>
<%- include('../partials/header') -%>
</header>
<div class="container">
  <div class="title">Heart disease prediction form</div>
  <p id="log" style="
    color:tomato; 
    font-weight: bold;
    font-size: larger;
    text-align: left;">
    Result
  </p>
  <div class="content">

    <form id="form">
      <div class="user-details">
        <div class="input-box">

          <span class="details">Age</span>

          <input name="name" type="number" id="Age" value="" placeholder="Enter your Age"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
            maxlength="3" title="Please enter numbers only" min="0" max="120" >

        </div>

        <div class="input-box">

          <span class="deatils">Sex</span>

          <select class="dropdown" name="Sex" id="Sex" onchange="clearResult()">

            <option value="" selected disabled hidden>Choose Sex</option>

            <option value=0>Male</option>

            <option value=1>Female</option>


          </select>

        </div>

        <div class="input-box">

          <span class="details">Chest Pain</span>

          <select class="dropdown" name="ChestPain" id="ChestPain" onchange="clearResult()">

            <option value="" selected disabled hidden>Choose chestpain type</option>

            <option value=0>ATA</option>

            <option value=1>NAP</option>

            <option value=2>ASY</option>

            <option value=3>TA</option>

          </select>

        </div>

        <div class="input-box">

          <span class="details">Resting BP</span>

          <input name="RestingBP" type="number" id="RestingBP" placeholder="Enter your Resting Blood Pressure"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()">

        </div>

        <div class="input-box">

          <span class="details">Cholestral</span>

          <input name="Cholestral" type="number" id="Cholestral" placeholder="Enter your Cholestral Level"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()">

        </div>

        <div class="input-box">

          <span class="details">Fasting BS</span>

          <select class="dropdown" name="FastingBS" id="FastingBS"  onchange="clearResult()">

            <option value="" selected disabled hidden>Choose fasting Blood Sugar</option>

            <option value=0>0</option>

            <option value=1>1</option>

          </select>

        </div>

        <div class="input-box">

          <span class="details">Resting ECG</span>

          <select class="dropdown" name="Resting ECG" id="RestingECG"  onchange="clearResult()">

            <option value="" selected disabled hidden>Choose ECG</option>

            <option value=0>Normal</option>

            <option value=1>ST</option>

            <option value=2>LVH</option>

          </select>

        </div>



        <div class="input-box">

          <span class="details">Max HR</span>

          <input name="MaxHR" type="number" id="MaxHR" placeholder="Enter Your Max Heart Rate"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()">

        </div>

        <div class="input-box">

          <span class="details">Exercising</span>

          <select class="dropdown" name="Exercising" id="Exercising" >

            <option value="" selected disabled hidden onchange="clearResult()">Choose Exercise</option>

            <option value=1>Yes</option>

            <option value=0>No</option>

          </select>

        </div>

        <div class="input-box">

          <span class="details">Oldpeak</span>

          <input name="number" type="number" id="Oldpeak" placeholder="Enter Your Oldpeak" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()">

        </div>

        <div class="input-box">

          <span class="details">ST_Slope</span>

          <select class="dropdown" name="ST_Slope" id="ST_Slope"  onchange="clearResult()">

            <option value="" selected disabled hidden>Choose ST_Slope</option>

            <option value=0>Up</option>

            <option value=1>Flat</option>

            <option value=2>Down</option>

          </select>

        </div>

      </div>
      <div class="spinner" style="display: none;"></div>

      <div class="button">
        <input type="submit" value="Check for Heart Disease">
      </div>
      <div class="button">
        <input type="submit" value="Check for Coronary Artery Disease" onclick="Redirect();"/>
      </div>
    </form>
  </div>
  <footer>
    <%- include('../partials/footer-new') -%>
    
    </footer>
</div>
<script>
  //let records = [];
  document.getElementById("log").innerHTML = ``;
  const spinner = document.querySelector('.spinner');

  

  function Redirect()
  {
    window.location = "http://www.e-hospital.ca/CoronaryArteryDisease"
  }

  function logSubmit(event) {
    event.preventDefault();
    document.getElementById("log").innerHTML = ``;

    const data = {
      Age: (document.getElementById("Age").value),
      Sex: (document.getElementById("Sex").value),
      ChestPain: (document.getElementById("ChestPain")?.value),
      RestingBP: (document.getElementById("RestingBP").value),
      Cholestral: (document.getElementById("Cholestral").value),
      FastingBS: (document.getElementById("FastingBS").value),
      RestingECG: (document.getElementById("RestingECG").value),
      MaxHR: (document.getElementById("MaxHR").value),
      Exercising: (document.getElementById("Exercising").value),
      Oldpeak: (document.getElementById("Oldpeak")?.value),
      ST_Slope: (document.getElementById("ST_Slope").value),
    }
    
    let base_url = 'https://mlmodel4.herokuapp.com/predict';
    spinner.style.display = 'block'; // show the spinner
    

    const requestBody = {
      "Age": data?.Age,
      "Sex": data?.Sex,
      "ChestPain": data?.ChestPain,
      "RestingBP": data?.RestingBP,
      "Cholestral": data?.Cholestral,
      "FastingBS": data?.FastingBS,
      "RestingECG": data?.RestingECG,
      "MaxHR": data?.MaxHR,
      "Exercising": data?.Exercising,
      "Oldpeak": data?.Oldpeak,
      "ST_Slope": data?.ST_Slope
    }

    // Test body
    // const requestBody = {
    //   "Age": 40,
    //   "Sex": 0,
    //   "ChestPain": 0,
    //   "RestingBP": 0,
    //   "Cholestral": 0,
    //   "FastingBS": 0,
    //   "RestingECG": 0,
    //   "MaxHR": 0,
    //   "Exercising": 0,
    //   "Oldpeak": 0.0,
    //   "ST_Slope": 0
    // }
 
    fetch(base_url, {
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(requestBody),

    })
      .then(response => response.json())
      .then(data => {
        if (data?.prediction === 'Heart Disease') {
          document.getElementById("log").innerHTML = `Heart Disease`;
          spinner.style.display = 'none'; // hide the spinner


        } else if (data?.prediction === 'No Heart Disease') {
          document.getElementById("log").innerHTML = `No Heart Disease`;
          spinner.style.display = 'none'; // hide the spinner
        }
      })
      .catch(error => {
        document.getElementById("log").innerHTML = `Please try again later:${error}`;
        // document.getElementById("log").innerHTML = `ERROR: ${error}`;
        spinner.style.display = 'none'; // hide the spinner

      });
  }
  function clearResult() {
    // To clear result
    document.getElementById("log").innerHTML = ``;
  }
  const form = document.getElementById('form');
  form.addEventListener('submit', logSubmit);
  
</script>

</html>