<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Heart Disease Prediction</title>
  </head>
  <body>
    <h1>Heart Disease Prediction</h1>
    <iframe src="https://finalheart.herokuapp.com/" height="800" width="100%"></iframe>
  </body>
</html>
