<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Services | Heart Diagnosis</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">
  <link href="css/heartdiseasefrontend.css" rel="stylesheet" type="text/css">


</head>
<header <%- include('../partials/header') -%>
</header>
  <div class="container">
    <div class="title">Early heart disease prediction </div>
    <p id="log" style="
    color:tomato; 
    font-weight: bold;
    font-size: larger;
    text-align: left;">
      Result
    </p>
    <div class="content">

      <form id="form">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" id="age" name="age" placeholder="Enter your age"
              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
              maxlength="3" title="Please enter numbers only" min="0" max="120" step="1" required>
          </div>
          <div class="input-box">
            <span class="details">Sex</span>
            <select name="sex" id="sex" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=1>Female</option>
              <option value=0>Male</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Chest Musle pain</span>
            <select name="cp" id="cp" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=0>Typical Angina</option>
              <option value=1>Atypical Angina</option>
              <option value=2>Non-anginal pain</option>
              <option value=3>Asymptomatic</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Resting Blood Pressure</span>
            <input 
            type="number" 
            name="trestbps" 
            id="trestbps" 
            placeholder="Enter Resting Blood Presure Value" 
            maxlength="10"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
            required 
            >
          </div>
          <div class="input-box">
            <span class="details">Cholesterol</span>
            <input 
            type="number" 
            name="chol" 
            id="chol" 
            placeholder="Enter Cholestral level" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
            required>
          </div>
          <div class="input-box">
            <span class="details">Fasting Blood Sugar</span>
            <select name="fbs" id="fbs" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=1>True</option>
              <option value=0>False</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Resting Blood Pressure</span>
            <select name="restecg" id="restecg" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=0>Normal</option>
              <option value=1>Having ST-T wave abnormality</option>
              <option value=2>Left Ventricular Hypertrophy</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Maximum Heart Rate Achieved</span>
            <input type="number" name="thalach" id="thalach" placeholder="Enter maximum heart rate achieved"
              oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
              title="Please enter numbers only" required>
          </div>
          <div class="input-box">
            <span class="details">Exercising</span>
            <select class="dropdown" name="exang" id="exang" >
            <option value="" selected disabled hidden onchange="clearResult()">Choose Exercise</option>
            <option value=1>Yes</option>
            <option value=0>No</option>
          </select>
        </div>
        <div class="input-box">
          <span class="details">Old Peak</span>
          <input 
          type="number" 
          name="oldpeak" 
          id="oldpeak" 
          placeholder="Enter Old Peak Value" 
          oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); clearResult()"
          required>
        </div>
          <div class="input-box">
            <span class="details">Slope</span>
            <select name="slope" id="slope" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=1 selected>Upsloping </option>
              <option value=2>Flat</option>
              <option value=3>Downslopping</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Number of major Blood Vessels</span>
            <select name="ca" id="ca" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=0 selected>0 </option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Thalesmia</span>
            <select name="thal" id="thal" required onchange="clearResult()">
              <option value="" disabled selected>Select</option>
              <option value=0 selected>0 </option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
            </select>
          </div>
        <div class="spinner" style="display: none;"></div>

        <div class="button">
          <input type="submit" value="Check for Heart Disease">
        </div>
      </form>
    </div>
    <footer>
      <%- include('../partials/footer-new') -%>
      
      </footer>
  </div>

  <script>
    document.getElementById("log").innerHTML = ``;
    const spinner = document.querySelector('.spinner');



    function logSubmit(event) {
      event.preventDefault();
      document.getElementById("log").innerHTML = ``;

      const data = {
        age: parseInt(document.getElementById("age").value),
        sex: parseInt(document.getElementById("sex").value),
        cp: parseInt(document.getElementById("cp")?.value),
        trestbps: parseInt(document.getElementById("trestbps").value),
        chol: parseInt(document.getElementById("chol").value),
        fbs: parseInt(document.getElementById("fbs").value),
        restecg: parseInt(document.getElementById("restecg").value),
        thalach: parseInt(document.getElementById("thalach").value),
        exang: parseInt(document.getElementById("exang").value),
        oldpeak: parseInt(document.getElementById("oldpeak").value),
        slope: parseInt(document.getElementById("slope").value),
        ca: parseInt(document.getElementById("ca").value),
        thal: parseInt(document.getElementById("thal").value),
      }
      let base_url = 'https://baba-1.herokuapp.com/predict';
      spinner.style.display = 'block'; // show the spinner

      const requestBody = {
          "age": data?.age,
          "sex":data?.sex,
          "cp":data?.cp,
          "trestbps":data?.trestbps,
          "chol":data?.chol,
          "fbs":data?.fbs,
          "restecg":data?.restecg,
          "thalach":data?.thalach,
          "exang":data?.exang,
          "oldpeak":data?.oldpeak,
          "slope" :data?.slope,
          "ca":data?.ca,
          "thal":data?.thal
      }
      //{
  //"age": 40,
  //"sex": 0,
  //"cp": 0,
  //"trestbps": 0,
  //"chol": 0,
  //"fbs": 0,
  //"restecg": 0,
  //"thalach": 0,
  //"exang": 0,
  //"oldpeak": 0,
  //"slope": 0,
  //"ca": 0,
  //"thal": 0
//}
      fetch(base_url,{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestBody),

      })
        .then(response => response.json())
        .then(data => {


          if (data?.prediction === "Heart Disease") {
            document.getElementById("log").innerHTML = `Heart Disease`;
            spinner.style.display = 'none'; // hide the spinner


          } else if (data?.prediction=== "No Heart Disease") {
            document.getElementById("log").innerHTML = `No Heart Disease`;
            spinner.style.display = 'none'; // hide the spinner
          }

        })
        .catch(error => {
          document.getElementById("log").innerHTML = `Please try again later`;
          spinner.style.display = 'none'; // hide the spinner

        });


    }
    function clearResult() {
      // To clear result
      document.getElementById("log").innerHTML = ``;
    }
    const form = document.getElementById('form');
    form.addEventListener('submit', logSubmit);
  </script>

</html>