



<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>

<%- include('../partials/header') -%>
<%- include('../partials/sidebar') -%>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link href="css/login.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  

  
  

 

</head>
<br>

<body>

<div>
  
  <img class = "banner" src="images/1.png">
  
  
  <!DOCTYPE html> 
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
        .notification-widget {
          position: fixed;
          top: 250px;
          right: 20px;
          color: white !important;
          font-weight: bold !important;
          display: flex;
          align-items: center;
          background-color: #f0f0f0;
          border: 2px solid;
          border-radius: 10px;
          padding: 10px;
          width: 300px;
          cursor: pointer;
          margin-top: 20px; 
        }
  
        .notification-icon {
          background-size: cover;
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
  
        .notification-text {
          flex: 1;
          color: black;
          text-align: center;
        }
  
        .notification-message {
          font-size: 16px;
          margin: 0;
        }
  
        .specialization {
          font-weight: bold;
          margin: 10px 5px;
        }
  
        .num-doctors {
          margin: 0 5px;
        }
      </style>
    </head>
    <body>
      <div class="notification-widget">
        <span class="notification-icon"></span>
        <div class="notification-text">
          <p class="notification-message">We have the following doctors available online:</p>
        </div>
      </div>
  
      <script>
        // select the notification widget element
const notificationWidget = document.querySelector('.notification-widget');

// add a scroll event listener to the window object
window.addEventListener('scroll', () => {
  if (window.pageYOffset > 100) {
    // if the user has scrolled down more than 100 pixels, hide the notification widget
    notificationWidget.style.display = 'none';
  } else {
    // if the user has scrolled up to the top of the page, show the notification widget
    notificationWidget.style.display = 'flex';
  }
});

        // make a GET request to the server to get the number of available doctors by specialization
        fetch('/get_availableDoctors')
          .then(response => response.json())
          .then(data => {
            console.log(data);
            // update the content of the notification message with the number of available doctors by specialization
            const notificationText = document.querySelector('.notification-text');
            for (let i = 0; i < data.length; i++) {
              const specParagraph = document.createElement('p');
              specParagraph.classList.add('specialization');
              specParagraph.textContent = `${data[i].Specialization}:`;
              notificationText.appendChild(specParagraph);
  
              const numDoctorsSpan = document.createElement('span');
              numDoctorsSpan.classList.add('num-doctors');
              numDoctorsSpan.textContent = `${data[i].NumberOfDoctors}`;
              specParagraph.appendChild(numDoctorsSpan);
            }
          })
          .catch(error => console.error(error));
      </script>
    </body>
  </html>

</div> 


<!-- Clarity Section -->
<div class="content-container" style="background-color: #ffffff";>
  <div class="col-container">
    <div class="column-one">
      <h1 class="xl-font"><b>About Us</b></h1><br>
      <h3 class="l-font"><b>To learn more about the work and projects, please click the on learn more!</b></h3><br>
      <button class="button">Learn More</button>
    </div>
    <div class="column-two">
        <img class="zigzagimg" src="images/medical.png" width="335" height="471" >
    </div>
  </div>
</div>
<!-- Clarity Section -->

<section class="bodytestamonial">
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>This comment is only for testing and later can be changed according to the suggestion or reviews by other professors.</p>
    </blockquote>
    <h3>Prof. Ali Abbas</h3>
    <h4>University of Ottawa</h4>
  </figcaption>
</figure>
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>This comment is only for testing and later can be changed according to the suggestion or reviews by other professors.</p>
    </blockquote>
    <h3>Prof. Testing</h3>
    <h4>University of Ottawa</h4>
  </figcaption>
</figure>
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>This comment is only for testing and later can be changed according to the suggestion or reviews by other professors. </p>
    </blockquote>
    <h3>Dr. Testing</h3>
    <h4>University of Ottawa</h4>
  </figcaption>
</figure>
</section>

<!-- <div class="w3-row">
  <div class="w3-col" style="width:20%"><p>.</p></div>
  
  <div class="w3-col div1" style="width:30%">
    <p align ="justify">The Ottawa Hospital's General Campus is one of three main campuses of The Ottawa Hospital in Ottawa, Ontario, Canada. With 569 beds, the General Campus includes The Ottawa Hospital Rehabilitation Centre and the Cancer Centre.      
    </p>
    <br>
    <p align ="justify">
      The Ottawa General Hospital opened in 1845 at the current site of the Élisabeth Bruyère Hospital in the ByWard Market area of Ottawa.In 1980, the General moved to its current location at 501 Smyth Road.
    </p>
  </div>

  <div class="w3-col" style="width:30%">
    <img src="images/2.jpg">
  </div>

  <div class="w3-col" style="width:20%"></div>
  
</div> -->




  <footer>
<%- include('../partials/footer-new') -%>

</footer>
  </body>

<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:02 GMT -->

</html>















