<style>
    .outer{
      margin: 60px 10rem 0;
    }
    .outer1{
      padding-top: 3rem;
    }
  
    .input-box {
      width: 100%;
      background-color: rgb(249, 250, 252);
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
      border: 1px solid rgb(252, 252, 252);
      border-radius: 5px;
  }
  
  .input-box .details {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      color: rgb(17, 2, 2);
  }
  
  .submitBtn {
    width: 20%;
    color: #fff;
    border: none;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #100d0de9, #000000);
    transition: all 0.3s ease;
  }
  
  .result-box {
    width: 100%;
    padding: 10px;
    position: center;
    margin-top: 0px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
      text-align: left;
    }
    #result {
      margin: 1rem 1rem;
      background-color: #f5f5f5;
      border-radius: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      font-size: 24px;
      width: 350px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    #result h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    
    #result p {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    .displayArea{
      margin-top: 60px;
      height: 100%;
      /*border: 1px solid green;*/
      width: 50vw;
  }

    #patientTable td {
  font-style: italic;
}
    #patientTable {
border-collapse: collapse;
width: 100%;
}

#patientTable td {
border: 1px solid #ddd;
padding: 8px;
}

#patientTable tr:nth-child(even) {
background-color: #f2f2f2;
}

#patientTable tr:hover {
background-color: #ddd;
}

#patientTable th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}

  
  </style>
  
  
  <!DOCTYPE html>
  <head>
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register | E-Hospital</title>
    <meta name="author" content="E-Hospital" />
  
    <meta property="og:url" content="register.html" />
    <meta property="og:site_name" content="E-Hospital" />
    <meta property="og:title" content="E-Hospital" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
    <meta property="og:locale" content="en_CA" />
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  
  
  <body>
    <%- include('../partials/header') -%>
    <div class="outer">
    <button class="submitBtn" onclick="submit()">Show the result</button>
    <div class="result-box">
      <label for="diagnose">Test Result:</label>
      <br> 
      <input type="text" id="diagnose" name="diagnose" placeholder="Result is here" \
      style="border: 2px solid #ccc; border-radius: 4px; padding: 10px 10px;  width: 100%; font-size: 15px; font-weight: 500;
      color: #ae2727;
      animation: fadeIn 1s ease-in;box-sizing: border-box; 
       margin-top: 10px;" disabled="disabled" required>
     </div>
          </form>
        </div>
    <div class="displayArea">
      <div id="result" style="display: none;"></div>
      <h3 style="margin-bottom: 1rem">Patient Information</h3>
      <table id="patientTable">
  <tbody>
    <tr>
      <td>Pyramidal:</td>
      <td id="pyramidal"></td>
    </tr>
    <tr>
      <td>Cerebella:</td>
      <td id="cerebella"></td>
    </tr>
    <tr>
      <td>Brain_stem:</td>
      <td id="brain_stem"></td>
    </tr>
    <tr>
      <td>Sensory:</td>
      <td id="sensory"></td>
    </tr>
    <tr>
      <td>Visual:</td>
      <td id="visual"></td>
    </tr>
    <tr>
      <td>Mental:</td>
      <td id="mental"></td>
    </tr>
    <tr>
      <td>Bowel_and_bladder_function:</td>
      <td id="bowel_and_bladder_function"></td>
    </tr>
    <tr>
      <td>Mobility:</td>
      <td id="mobility"></td>
    </tr>
      <td>Record Date:</td>
      <td id="recordDate"></td>
    </tr>
  </tbody>
</table>
    </div>
  
  
  
  <%- include('../partials/footer-new') -%>
  <script>
  
  
  function submit() {
           const urlParams=new URLSearchParams(window.location.search);
           const id=urlParams.get('id');
           if(id < 132 || id > 150) {
            alert("There is no record for the patient redirecting to the page for manual input.")
            window.location.replace(`/MS-diagnoses?id=${id}`);
          }
            $.ajax({
                headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                method: 'GET',
                url: `https://e-hospital-liver.herokuapp.com/predict_MS_direct/${id}`,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function (data) {
                    // Get and display the result
                    console.log('Success!',  data );
                    //const diagnose = data;
                    const diagnose = data;
                    console.log(diagnose)
                    $("#diagnose").val(diagnose);
                    getMsDiseaseInfor();
                },
                error: function () {
                    console.log('error');
                },
            });
            return true
    }
    function getMsDiseaseInfor() {
      const urlParams = new URLSearchParams(window.location.search);
      const id = urlParams.get('id');
      const recordReq = { id: id };
      fetch('/getPatientInformation', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(recordReq),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(result => {
        const data = result.data[0];
        document.getElementById('pyramidal').textContent = data.pyramidal;
        document.getElementById('cerebella').textContent = data.cerebella;
        document.getElementById('brain_stem').textContent = data.brain_stem;
        document.getElementById('sensory').textContent = data.sensory;
        document.getElementById('visual').textContent = data.visual;
        document.getElementById('mental').textContent = data.mental;
        document.getElementById('bowel_and_bladder_function').textContent = data.bowel_and_bladder_function;
        document.getElementById('mobility').textContent = data.mobility;
        document.getElementById('recordDate').textContent = data.RecordDate;
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
    }    
  </script>
  
  </body>