<!DOCTYPE html>
<html lang:"en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="./images/favicon-32x32.png"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
        rel="stylesheet"
     />

     <link href="css/psychology.css" rel="stylesheet" type="text/css">
    <title>E-Hospital | Psychology</title>

    <style>
        .c{
            padding: 10000px;
        }
    
    </style>
</head>

<body>
  <header>
    <%- include('../partials/header')-%>
  </header>
  
  <section class="hero">
    <div class="container">
      <div class="hero__image"></div>
      <div class="hero__text container--pall">
        <h1>Find a therapist</h1>
        <br>
        <p>
          Find the right therapist by taking our questionnaire that will match you with someone who can best serve your needs. 
        </p>
        <br>
        <a href="psychologyQuestionnaire" class="button hero__cta">Take the Questionaire</a>
        <a href="https://shwc.inputhealth.com/ebooking#new" class="button hero__cta">Schedule a Session</a>
      </div>
    </div>
  </section>

  <section class="articles">
    <div class="article__content container container--pall">
      <h2>24 Hour Emergency Services</h2>
      <br>
      <div class="article__grid">
        <a href="http://www.dcottawa.on.ca/" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              24-hour crisis line from the Distress Centre of Ottawa and Region
            </div>
            <div class="article__description">
              613-238-3311 
            </div>
          </div>
        </a>

        <a href="https://crisisline.ca/" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              24-hour Mental Health Crisis Line
            </div>
            <div class="article__description">
              613-722-6914 / 1-866-996-0991
            </div>
          </div>
        </a>

        <a href="http://telaideoutaouais.ca/" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              Tel-Aide Outaouais Help line (8am to midnight, 7 days a week)
            </div>
            <div class="article__description">
              613-741-6433 / 1-800-567-9699
            </div>
          </div>
        </a>

        <a href="https://www.uottawa.ca/campus-life/health-wellness/immediate-support" class="article__item">
          <div
            class="article__item"
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              More Support Options
            </div>
            <div class="article__description">
              Need to speak to someone right away? 24/7 help is available for everyone in your community. Find your preferred option here.
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  

  <section class="articles">
    <div class="article__content container container--pall">
      <h2>Learn about different mental health disorders.</h2>
      <br>
      <div class="article__grid">
        <a href="https://cmha.bc.ca/documents/eating-disorders-3/" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              Eating Disorders
            </div>
            <div class="article__description">
              Eating disorders are a group of mental illnesses that affect the way you feel about food and the way you feel about your body and yourself. Click here to learn more about the different types of eating disorders.
            </div>
          </div>
        </a>

        <a href="https://www.saintlukeskc.org/health-library/understanding-mood-disorders" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              Mood Disorders
            </div>
          <div class="article__description">
            Mood disorders are illnesses that affect the way you think and feel. The symptoms may be quite severe. In most cases, they won't go away on their own. Click here to learn more about the different types of mood disorders.
          </div>
          </div>
        </a>

        <a href="https://www.canada.ca/en/public-service-commission/services/public-service-hiring-guides/guide-assessing-persons-disabilities/guide-assessing-persons-disabilities/guide-assessing-persons-disabilities-determine-implement-assessment-accommodations-attention-deficit-hyperactivity-disorder.html" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              ADHD
            </div>
            <div class="article__description">
              Attention Deficit Hyperactivity Disorders (ADHD) are characterized by inattention, distractibility, disorganization and can be accompanied by restlessness and impulsivity when associated with hyperactive type characteristics. Click here to learn more about the different types of these disorders.
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="articles">
    <div class="article__content container container--pall">
      <h2>Complete mental health screening questionnaires before your appointment.</h2>
      <br>
      <div class="article__grid">
        <a href="https://www2.uottawa.ca/campus-life/sites/g/files/bhrskd281/files/2021-08/virtual-counselling-onepager-en-accessible.pdf" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              Click here to complete the depression screening questionnaire.
            </div>
            <div class="article__description">
              
            </div>
          </div>
        </a>

        <a href="/psychologyPhoneNumber?questionnaire=psychologyAnxietyQuestionnaire" class="article__item">
          <div
            class="article__item"
            
          ></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">
              Click here to complete the anxiety screening questionnaire.
            </div>
          </div>
        </a>

      
      </div>
    </div>
  </section>

  <footer>
      <%- include('../partials/footer-new') -%>
  </footer>


</body>


</html>
