<!DOCTYPE html>
<html lang:"en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="./images/favicon-32x32.png"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
        rel="stylesheet"
     />

     <link href="css/psychology.css" rel="stylesheet" type="text/css">
    <title>E-Hospital | Psychology</title>

    <style>
        .c{
            padding: 300px;
        }
    
    </style>
</head>

<body>
    <header class="header">
      <div class="overlay has-fade"></div>

      <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="images/banner.jpg" alt="uOttawa" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>



        <a href="https://shwc.inputhealth.com/ebooking#new" class="button header__cta hide-for-mobile"
          >Schedule a Session</a
        >
      </nav>

      <div class="header__menu has-fade">
        <a href="https://shwc.inputhealth.com/ebooking#new">Schedule a Session</a>
        <a href="questionnaire.html">Find a Therapist</a>
      </div>
    </header>

    <section class="hero">
      <div class="container">
        <div class="hero__image"></div>
        <div class="hero__text container--pall">
          <h1>Find a therapist</h1>
          <p>
            Find the right therapist for you by taking our questionnaire that will match you with someone who can best serve your needs. 
          </p>
          <a href="questionnaire.html" class="button hero__cta">Take the Questionaire</a>
        </div>
      </div>
    </section>

    <section class="articles">
      <div class="article__content container container--pall">
        <h2>24 Hour Emergency Services</h2>

        <div class="article__grid">
          <a href="http://www.dcottawa.on.ca/" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                24-hour crisis line from the Distress Centre of Ottawa and Region
              </div>
              <div class="article__description">
                613-238-3311 
              </div>
            </div>
          </a>

          <a href="https://crisisline.ca/" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                24-hour Mental Health Crisis Line
              </div>
              <div class="article__description">
                613-722-6914 / 1-866-996-0991
              </div>
            </div>
          </a>

          <a href="http://telaideoutaouais.ca/" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                Tel-Aide Outaouais Help line (8am to midnight, 7 days a week)
              </div>
              <div class="article__description">
                613-741-6433 / 1-800-567-9699
              </div>
            </div>
          </a>

          <a href="https://www.uottawa.ca/campus-life/health-wellness/immediate-support" class="article__item">
            <div
              class="article__item"
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                More Support Options
              </div>
              <div class="article__description">
                Need to speak to someone right away? 24/7 help is available for everyone in the uOttawa community. Find your preferred option here.
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="feature">
      <div class="feature__content container container--pall">
        <div class="feature__intro">
          <h2>Your health and wellness is a journey!</h2>
          <p>
            Whether you are a student, faculty member, staff or an alumnus, you can navigate and discover services and resources to learn how to take care of yourself, each other and your community.
          </p>
        </div>

        <div class="feature__grid">
          <div class="feature__item">
            <div class="feature__icon">
              <img src="/images/grouptherapy.jpg" class = "cropcircle"/>
            </div>
            <a href="https://www.uottawa.ca/campus-life/health-wellness/support-groups" class="feature__title">Support Groups </a>
            <div class="feature__description">
              Support groups offer a safe, confidential space to learn, share, and connect with other students.
            </div>
          </div>  

          <div class="feature__item">
            <div class="feature__icon">
              <img src="/images/online-support.jpg" class = "cropcircle" />
            </div>
            <a href="https://www.uottawa.ca/campus-life/health-wellness/mental-health-counselling/online-support" class="feature__title">Online Support</a>
            <div class="feature__description">
              TAO Self-Help is an online platform of tools and interactive modules that can help you manage the many stressors that come with university life and can help you bounce back from challenging times.
            </div>
          </div>

          <div class="feature__item">
            <div class="feature__icon">
              <img src="/images/moose.png" class = "cropcircle" />
            </div>
            <a href="https://www.uottawa.ca/campus-life/health-wellness/wellness-workshop-series" class="feature__title">Workshop Series</a>
            <div class="feature__description">
              Join these interactive, wellness foxused workshops designed by students for uOttawa students!
            </div>
          </div>

          <div class="feature__item">
            <div class="feature__icon"><img src="/images/squirrel.png" class = "cropcircle" /></div>
            <div class="feature__title">Other Mental Health Services</div>
            <div class="feature__description">
              Discover the frequently used services such as the Student Health and Wellness Centre, Academic Accomodations, Counselling, and much more!
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="articles">
      <div class="article__content container container--pall">
        <h2>Specialized Services</h2>

        <div class="article__grid">
          <a href="https://www2.uottawa.ca/campus-life/sites/g/files/bhrskd281/files/2021-08/virtual-counselling-onepager-en-accessible.pdf" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                Virtual Psychiatric Consultation Clinics
              </div>
              <div class="article__description">
               An opportunity to have a 1hour consultation with a psychiatrist via video-conference. 
              </div>
            </div>
          </a>

          <a href="https://www.theroyal.ca/osp" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                Ontario Structure Psychotherapy (OSP)
              </div>
              <div class="article__description">
                OSP program provides free, short-term, face-to-face Cognitive Behavioural Therapy (CBT) for adults experiencing depression, anxiety disorders, obsessive-compulsive disorder, and/or post-traumatic stress disorder (PTSD). 
              </div>
            </div>
          </a>

          <a href="https://www.ottawahospital.on.ca/en/clinical-services/deptpgrmcs/departments/mental-health/our-services/mobile-crisis-team-mct/" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                Mobile Crisis Team
              </div>
              <div class="article__description">
                MCT is an outreach team that is designed to provide rapid assessment of and stabilization for individuals in the community who are in crisis. This is not an emergency service. 
              </div>
            </div>
          </a>

          <a href="https://www.uottawa.ca/campus-life/health-wellness/helping-someone" class="article__item">
            <div
              class="article__item"
              
            ></div>
            <div class="article__text">
              <div class="article__author"></div>
              <div class="article__title">
                Upstream (Case Management)
              </div>
              <div class="article__description">
                Community support workers and students work together to develop goals and a plan to help support students’ mental health needs.  
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <footer>
        <%- include('../partials/footer-new') -%>
    </footer>


</body>


</html>
