<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>E-Hospital | Psychology</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">

</head>
<style>
  select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  select:focus {
    border-color: #9b59b6;
  }

  .spinner {
    border: 5px solid #9b59b6;
    border-top-color: #9b59b6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .black-button {
    display: flex;
    justify-content: center;

  }

  .black-button input[type="submit"] {
    background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    max-width: 400px;
    width: 300px;

  }

  .black-button input[type="submit"]:hover {
    background: linear-gradient(-135deg, #000000, #747474);
  }
</style>

<body>
<%- include('../partials/header') -%>


    <div class="container">
        <div class="title">PHQ-9: Over the last 2 weeks, how often have you been bothered by any of the following problems: </div>
        <div class="content">
            <form>
                <div class="user-details">
                  <div class="input-box">                       
                    <span class="details">Little interest or pleasure in doing things.</span>
                    <select name="q1" id="q1">
                      <option value="" disabled selected>Select</option>
                      <option value=0>Not at all</option>
                      <option value=1>Several days</option>
                      <option value=2>More than half the days</option>
                      <option value=3>Nearly every day</option>
                    </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Feeling down, depressed, or hopeless</span>
                      <select name="q2" id="q2">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Trouble falling or staying asleep or sleeping too much</span>
                      <select name="q3" id="q3">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Feeling tired or having little energy</span>
                      <select name="q4" id="q4">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Poor appetite or overeating</span>
                      <select name="q5" id="q5">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Feeling bad about yourself - or that you are a failure or have let yourself or your family down</span>
                      <select name="q6" id="q6">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Trouble concentrating on things, such as reading the newspaper or watching television</span>
                      <select name="q7" id="q7">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Moving or speaking so slowly that other people could have noticed? Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual</span>
                      <select name="q8" id="q8">
                        <option value="" disabled selected>Select</option>
                        <option value=0>Not at all</option>
                        <option value=1>Several days</option>
                        <option value=2>More than half the days</option>
                        <option value=3>Nearly every day</option>
                      </select>
                  </div>
                  <div class="input-box">
                    <span class="details">Thoughts that you would be better off dead or of hurting yourself in some way</span>
                    <select name="q9" id="q9">
                      <option value="" disabled selected>Select</option>
                      <option value=0>Not at all</option>
                      <option value=1>Several days</option>
                      <option value=2>More than half the days</option>
                      <option value=3>Nearly every day</option>
                    </select>
                  </div>
                  <div class="input-box">
                    <span class="details">If you checked off any problems, how difficult have these problems made it for you to do your work, take care of things at home, or get along with other people?</span>
                    <select name="q10" id="q10">
                      <option value="" disabled selected>Select</option>
                      <option value=0>Not difficult at all</option>
                      <option value=1>Somewhat difficult</option>
                      <option value=2>Very difficult</option>
                      <option value=3>Extremely difficult</option>
                    </select>
                  </div>
              </div>
              <div class="button">
                <input id = "submit-button" type="submit" value="Submit">
              </div>
          </form>
      </div>
  </div>


<script>
  let params = (new URL(document.location)).searchParams;
  let phoneNumber = params.get("phoneNumber");
  //console.log(phoneNumber)

  function sumAnswers(event) {
    event.preventDefault();
    //console.log(document.querySelector('input[name="q1"]:checked'))
    var q1SelectedOption = document.getElementById("q1").value;
    var q2SelectedOption = document.getElementById("q2").value;
    var q3SelectedOption = document.getElementById("q3").value;
    var q4SelectedOption = document.getElementById("q4").value;
    var q5SelectedOption = document.getElementById("q5").value;
    var q6SelectedOption = document.getElementById("q6").value;
    var q7SelectedOption = document.getElementById("q7").value;
    var q8SelectedOption = document.getElementById("q8").value;
    var q9SelectedOption = document.getElementById("q9").value;
    var q10SelectedOption = document.getElementById("q10").value;

    var sumTotal = Number(q1SelectedOption) + Number(q2SelectedOption) + Number(q3SelectedOption) + Number(q4SelectedOption) + Number(q5SelectedOption) + Number(q6SelectedOption) + Number(q7SelectedOption) + Number(q8SelectedOption) + Number(q9SelectedOption)+Number(q10SelectedOption);
    //console.log(sumTotal)

    const body = {
            result: sumTotal,
            q1: q1SelectedOption,
            q2: q2SelectedOption,
            q3: q3SelectedOption,
            q4: q4SelectedOption,
            q5: q5SelectedOption,
            q6: q6SelectedOption,
            q7: q7SelectedOption,
            q8: q8SelectedOption,
            q9: q9SelectedOption,
            q10: q10SelectedOption,
            phoneNumber
          }
        //console.log(body)
        fetch('/psychologyDepressionQuestionnaire', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        })
        .then(response => window.location.href = "/thankyou")
  }
  const submitButton = document.getElementById('submit-button');
  //console.log(submitButton)
  submitButton.addEventListener('click', sumAnswers);
</script>
</body>
</html>