<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">

</head>
<style>
  select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  select:focus {
    border-color: #9b59b6;
  }

  .spinner {
    border: 5px solid #9b59b6;
    border-top-color: #9b59b6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .black-button {
    display: flex;
    justify-content: center;

  }

  .black-button input[type="submit"] {
    background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    max-width: 400px;
    width: 300px;

  }

  .black-button input[type="submit"]:hover {
    background: linear-gradient(-135deg, #000000, #747474);
  }
</style>

<body>
<%- include('../partials/header') -%>

  <div class="container">
    <div class="title">Please enter your phone number so we can store your results. </div>
      <div class="content">
        <form>
          <div class="user-details">
            <div class="input-box">
              <span class="details">Mobile Number</span>
              <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Enter Your Mobile Number">
            </div>
          </div>
          <div class="button">
              <input id = "submit-button" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>  

  <script>
    function redirectQuestionnaire(event){
      event.preventDefault();
      const phoneNumber = document.getElementById("phoneNumber").value;
      let params = (new URL(document.location)).searchParams;
      let questionnaire = params.get("questionnaire");
      location.href = questionnaire+"?phoneNumber="+phoneNumber;
    };
    
    const submitButton = document.getElementById('submit-button');
    submitButton.addEventListener('click', redirectQuestionnaire);
  </script>

</body>
</html>