<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">

</head>
<style>
  select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  select:focus {
    border-color: #9b59b6;
  }

  .spinner {
    border: 5px solid #9b59b6;
    border-top-color: #9b59b6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .black-button {
    display: flex;
    justify-content: center;

  }

  .black-button input[type="submit"] {
    background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    max-width: 400px;
    width: 300px;

  }

  .black-button input[type="submit"]:hover {
    background: linear-gradient(-135deg, #000000, #747474);
  }
</style>

<body>
<%- include('../partials/header') -%>

  <div class="container">
    <div class="title">Patient - Psychologist Questionnaire </div>
      <div class="content">
        <form>
          <div class="user-details">
            <div class="input-box">
              <span class="details">Mobile Number</span>
              <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Enter Your Mobile Number">
            </div>
            <div class="input-box">
              <span class="details">What is your preferred gender of the psychologist?</span>
              <select name="sex" id="sex">
                <option value="" disabled selected>Select</option>
                <option value=1>Male</option>
                <option value=2>Female</option>
                <option value=3>No Preference</option>
              </select>
            </div>
            <div class="input-box">                       
              <span class="details">What is your preferred language for therapy sessions?</span>
              <select name="language" id="language">
                <option value="" disabled selected>Select</option>
                <option value=1>French</option>
                <option value=2>English</option>
                <option value=3>No Preference</option>
              </select>
            </div>
            <div class="input-box">
                <span class="details">What type of treatment setting do you prefer?</span>
                <select name="treatment_setting" id="treatment_setting">
                  <option value="" disabled selected>Select</option>
                  <option value=1>In-person therapy</option>
                  <option value=2>Online therapy</option>
                  <option value=3>Hybrid (a mix of in-person and online)</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">Are you looking for a therapist who focuses on a specific age group?</span>
                <select name="age_group" id="age_group">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Children and Adolescents</option>
                  <option value=2>Adults</option>
                  <option value=3>Seniors</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">What is your primary concern that you want to address with a pscyhologist?</span>
                <select name="type_of_therapy" id="type_of_therapy">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Depression</option>
                  <option value=2>Anxiety</option>
                  <option value=3>Adoption</option>
                  <option value=4>Anger Management</option>
                  <option value=5>Bullying</option>
                  <option value=6>Emotion Regulation</option>
                  <option value=7>Eating Disorders</option>
                  <option value=8>Schizophrenia</option>
                  <option value=9>ADHD Assessment</option>
                  <option value=10>Addiction</option>
                  <option value=11>Phobias</option>
                  <option value=12>Retirement</option>
                  <option value=13>Separation/Divorce</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">Do you have a preference for a specific type of psychological treatment modality or therapy approach?</span>
                <select name="psychological_treatment" id="psychological_treatment">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Acceptance and Commitment Therapy</option>
                  <option value=2>Hypnosis</option>
                  <option value=3>Cognitive/Behavioural Therapy</option>
                  <option value=4>Solution-Focused Therapy</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">What is your preferred time frame for therapy sessions?</span>
                <select name="time_frame" id="time_frame">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Morning</option>
                  <option value=2>Afternoon</option>
                  <option value=3>Evening</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">How frequently would you like to attend therapy sessions?</span>
                <select name="frequency" id="frequency">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Weekly</option>
                  <option value=2>Bi-weekly</option>
                  <option value=3>Monthly</option>
                </select>
            </div>
            <div class="input-box">
                <span class="details">What is your budget for therapy sessions?</span>
                <select name="cost" id="cost">
                  <option value="" disabled selected>Select</option>
                  <option value=1>Less than $100 per session</option>
                  <option value=2>$100-$150 per session</option>
                  <option value=3>More than $150 per session</option>
                </select>
            </div>
          </div>
          <div class="button">
              <input id = "submit-button" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>  

  <script>

    var answers = ['','','','','','','','',''];
    //const date = new Date( Date.now() );

    function checkAnswer(event) {
      event.preventDefault();

      var q1SelectedOption = document.getElementById("sex").value;
      var q2SelectedOption = document.getElementById("language").value;
      var q3SelectedOption = document.getElementById("treatment_setting").value;
      var q4SelectedOption = document.getElementById("age_group").value;
      var q5SelectedOption = document.getElementById("type_of_therapy").value;
      var q6SelectedOption = document.getElementById("psychological_treatment").value;
      var q7SelectedOption = document.getElementById("time_frame").value;
      var q8SelectedOption = document.getElementById("frequency").value;
      var q9SelectedOption = document.getElementById("cost").value;

      const phoneNumber = document.getElementById("phoneNumber").value;

      answers[1] = q1SelectedOption;
      answers[2] = q2SelectedOption;
      answers[3] = q3SelectedOption;
      answers[4] = q4SelectedOption;
      answers[5] = q5SelectedOption;
      answers[6] = q6SelectedOption;
      answers[7] = q7SelectedOption;
      answers[8] = q8SelectedOption;
      answers[9] = q9SelectedOption;

    // Define the Information of Dr.s database
    fetch('/get_psychologistsinfo')
    .then((response) => response.json())
    .then((data) =>{   
        let lastMaxMatchedAttributes = 0;
        let lastDoctorIndex = 0;
        for (var i = 0; i < data.length; i++) {
            // sum all the elements that match here

            let matchedAttributes = 0;

            matchedAttributes += data[i].sex == q1SelectedOption ? 1 : 0;
            matchedAttributes += data[i].language == q2SelectedOption ? 1 : 0;
            matchedAttributes += data[i].treatment_setting == q3SelectedOption ? 1 : 0;
            matchedAttributes += data[i].age_group == q4SelectedOption ? 1 : 0;
            matchedAttributes += data[i].type_of_therapy == q5SelectedOption ? 1 : 0;
            matchedAttributes += data[i].psychological_treatment == q6SelectedOption ? 1 : 0;
            matchedAttributes += data[i].time_frame == q7SelectedOption ? 1 : 0;
            matchedAttributes += data[i].frequency == q8SelectedOption ? 1 : 0;
            matchedAttributes += data[i].cost == q9SelectedOption ? 1 : 0;
            
            // after all the sums

            if (matchedAttributes > lastMaxMatchedAttributes) {
                lastDoctorIndex = i;
                lastMaxMatchedAttributes = matchedAttributes
            }
        }
        
        var chosen_dr = data[lastDoctorIndex].uuid;

        console.log(chosen_dr);

        const body = {
            dr_uuid: chosen_dr,
            sex: q1SelectedOption,
            language:q2SelectedOption, 
            treatment_setting: q3SelectedOption, 
            age_group: q4SelectedOption, 
            type_of_therapy: q5SelectedOption, 
            psychological_treatment: q6SelectedOption, 
            time_frame: q7SelectedOption, 
            frequency: q8SelectedOption, 
            cost: q9SelectedOption,
            phoneNumber
        }
        let params1 = encodeURIComponent(phoneNumber)
        let params2 = encodeURIComponent(q5SelectedOption)
        let params3 = encodeURIComponent(chosen_dr)
        console.log(params2)
        fetch('/psychologyQuestionnaire', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        })
        .then(response => window.location.href = "/psychologistRecommendation?phoneNumber="+params1+"&type="+params2+"&doc="+params3)

    });
    }
    const submitButton = document.getElementById('submit-button');
    submitButton.addEventListener('click', checkAnswer);
    

  </script>
</body>
</html>