<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link rel="stylesheet" href="/css/style-starter.css">
  <link rel="stylesheet" href="/css/patients.css">

</head>
<style>
  select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  select:focus {
    border-color: #9b59b6;
  }

  .spinner {
    border: 5px solid #9b59b6;
    border-top-color: #9b59b6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .black-button {
    display: flex;
    justify-content: center;

  }

  .black-button input[type="submit"] {
    background: linear-gradient(-135deg, #747474, rgb(0, 0, 0));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    max-width: 400px;
    width: 300px;

  }

  .black-button input[type="submit"]:hover {
    background: linear-gradient(-135deg, #000000, #747474);
  }
</style>

<body>
<%- include('../partials/header') -%>

    <div class="container">
        <div class="title">Patient - Psychologist Questionnaire </div>
        <p id="log" style="
        color:black; 
        font-weight: bold;
        font-size: larger;
        text-align: left;">
        <input type="text" id="result" readonly>
        </p>
        <div class="content">
          
            <form action="/psychologyQuestionnaire" method="post">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Mobile Number</span>
                    <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Enter Your Mobile Number">
                  </div>
                  <div class="input-box">
                      <span class="details">What is your preferred gender of the psychologist?</span>
                      <select name="sex" id="sex">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Male</option>
                        <option value=2>Female</option>
                        <option value=3>No Preference</option>
                      </select>
                  </div>
                  <div class="input-box">                       
                    <span class="details">What is your preferred language for therapy sessions?</span>
                    <select name="language" id="language">
                      <option value="" disabled selected>Select</option>
                      <option value=1>French</option>
                      <option value=2>English</option>
                      <option value=3>No Preference</option>
                    </select>
                  </div>
                  <div class="input-box">
                      <span class="details">What type of treatment setting do you prefer?</span>
                      <select name="treatment_setting" id="treatment_setting">
                        <option value="" disabled selected>Select</option>
                        <option value=1>In-person therapy</option>
                        <option value=2>Online therapy</option>
                        <option value=3>Hybrid (a mix of in-person and online)</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Are you looking for a therapist who focuses on a specific age group?</span>
                      <select name="age_group" id="age_group">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Children and Adolescents</option>
                        <option value=2>Adults</option>
                        <option value=3>No Preference</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">What is your primary concern that you want to address with a pscyhologist?</span>
                      <select name="type_of_therapy" id="type_of_therapy">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Depression</option>
                        <option value=2>Anxiety</option>
                        <option value=3>Relationship Issues</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">Do you have a preference for a specific type of psychological treatment modality or what type of therapy you are interested in?</span>
                      <select name="psychological_treatment" id="psychological_treatment">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Psychodynamic therapy</option>
                        <option value=2>Behavioral therapy</option>
                        <option value=3>Cognitive therapy</option>
                      </select>
                  </div>

                  <div class="input-box">
                      <span class="details">What is your preferred time frame for therapy sessions?</span>
                      <select name="time_frame" id="time_frame">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Morning</option>
                        <option value=2>Afternoon</option>
                        <option value=3>Evening</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">How frequently would you like to attend therapy sessions?</span>
                      <select name="frequency" id="frequency">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Weekly</option>
                        <option value=2>Bi-weekly</option>
                        <option value=3>Monthly</option>
                      </select>
                  </div>
                  <div class="input-box">
                      <span class="details">What is your budget for therapy sessions?</span>
                      <select name="cost" id="cost">
                        <option value="" disabled selected>Select</option>
                        <option value=1>Less than $100 per session</option>
                        <option value=2>$100-$150 per session</option>
                        <option value=3>More than $150 per session</option>
                      </select>
                  </div>
              </div>
              <div class="button">
                  <input type="submit" value="Submit" onclick="checkAnswer(); otherQuestionnaire()">
              </div>
          </form>
      </div>
  </div>


<script>
  var answers = ['','','','','','','','',''];
  const date = new Date( Date.now() );

  function checkAnswer() {
    var q1SelectedOption = document.querySelector('input[name="sex"]:checked');
    var q2SelectedOption = document.querySelector('input[name="language"]:checked');
    var q3SelectedOption = document.querySelector('input[name="treatment_setting"]:checked');
    var q4SelectedOption = document.querySelector('input[name="age_group"]:checked');
    var q5SelectedOption = document.querySelector('input[name="type_of_therapy"]:checked');
    var q6SelectedOption = document.querySelector('input[name="psychological_treatment"]:checked');
    var q7SelectedOption = document.querySelector('input[name="time_frame"]:checked');
    var q8SelectedOption = document.querySelector('input[name="frequency"]:checked');
    var q9SelectedOption = document.querySelector('input[name="cost"]:checked');
    

    answers[1] = q1SelectedOption.value;
    answers[2] = q2SelectedOption.value;
    answers[3] = q3SelectedOption.value;
    answers[4] = q4SelectedOption.value;
    answers[5] = q5SelectedOption.value;
    answers[6] = q6SelectedOption.value;
    answers[7] = q7SelectedOption.value;
    answers[8] = q8SelectedOption.value;
    answers[9] = q9SelectedOption.value;

    
    var numSame = 0;
    var x = 0;

    for (var i = 0; i < DrNames.length; i++) {
      var cam = 0;
      for (var j = 0; j < DrNames[i].length; j++) {
       if (answers[j] ===  DrNames[i][j]) {
       cam++;
           }
       }
       if (numSame < cam){
          numSame = cam;
          x = i;

          }
    }

      document.getElementById("result").value = names[x];
      
   
  }
  
</script>  
<input type="text" id="result" readonly>

<script>
  var answers = ['','','','','','','','',''];
  
  function checkAnswer() {
    var q1SelectedOption = document.querySelector('input[name="phoneNumber"]:checked');
    var q2SelectedOption = document.querySelector('input[name="sex"]:checked');
    var q3SelectedOption = document.querySelector('input[name="language"]:checked');
    var q4SelectedOption = document.querySelector('input[name="treatment_setting"]:checked');
    var q5SelectedOption = document.querySelector('input[name="age_group"]:checked');
    var q6SelectedOption = document.querySelector('input[name="type_of_therapy"]:checked');
    var q7SelectedOption = document.querySelector('input[name="psychological_treatment"]:checked');
    var q8SelectedOption = document.querySelector('input[name="time_frame"]:checked');
    var q9SelectedOption = document.querySelector('input[name="frequency"]:checked');
    var q10SelectedOption = document.querySelector('input[name="cost"]:checked');
    

    answers[1] = q1SelectedOption.value;
    answers[2] = q2SelectedOption.value;
    answers[3] = q3SelectedOption.value;
    answers[4] = q4SelectedOption.value;
    answers[5] = q5SelectedOption.value;
    answers[6] = q6SelectedOption.value;
    answers[7] = q7SelectedOption.value;
    answers[8] = q8SelectedOption.value;
    answers[9] = q9SelectedOption.value;
    answers[10] = q10SelectedOption.value;
   

    
    var numSame = 0;
    var x = 0;

    for (var i = 0; i < DrNames.length; i++) {
      var cam = 0;
      for (var j = 0; j < DrNames[i].length; j++) {
       if (answers[j] ===  DrNames[i][j]) {
       cam++;
           }
       }
       if (numSame < cam){
          numSame = cam;
          x = i;

          }
    }

      document.getElementById("result").innerHTML = names[x];
      
  }
  
</script>  
<input type="text" id="result" readonly>

<script>
// Define the Information of Dr.s database
var Emily = ['Female', 'English', 'Online therapy', 'No Peference', 'Depression', 'Behavioral therapy', 'Evening', 'Weekly', 'Less than $100 per session'];
var William = ['Male', 'French', 'Hybrid (a mix of in-person and online)', 'Children and Adolescents', 'Anxiety', 'Cognitive therapy', 'Morning', 'Bi-weekly', '$100-$150 per session'];
var Charlotte = ['Female', 'English', 'Online therapy', 'Adults', 'Relationship Issues', 'Cognitive therapy', 'Morning', 'Bi-weekly', '$100-$150 per session'];
var James = ['Male', 'French', 'Hybrid (a mix of in-person and online)', 'Children and Adolescents', 'Anxiety', 'Psychodynamic therapy', 'Evening', 'Monthly', 'More than $150 per session'];
var Olivia = ['Female', 'English', 'Online therapy', 'Children and Adolescents', 'Depression', 'Cognitive therapy', 'Afternoon', 'Bi-weekly', '$100-$150 per session'];
var Benjamin = ['Male', 'ENglish', 'Online therapy', 'Children and Adolescents', 'Anxiety', 'Cognitive therapy', 'Morning', 'Weekly', 'More than $150 per session'];
var Sophia = ['Female', 'English', 'In-person therapy', 'Children and Adolescents', 'Anxiety', 'Psychodynamic therapy', 'Afternoon', 'Bi-weekly', 'Less than $100 per session'];
var Henry = ['Male', 'a', 'French', 'Online therapy', 'Children and Adolescents', 'Relationship Issues', 'Cognitive therapy', 'Afternoon', '$100-$150 per session'];
var Isabella = ['Female', 'English', 'Online therapy', 'No Preference', 'Relationship Issues', 'Psychodynamic therapy', 'Morning', 'Monthly', '$100-$150 per session'];
var Edward = ['Male', 'French', 'In-person therapy', 'Adults', 'Relationship Issues', 'Psychodynamic therapy', 'Afternoon', 'Monthly', 'Less than $100 per session'];

var DrNames = [Emily, William, Charlotte, James, Olivia, Benjamin, Sophia, Henry, Isabella, Edward];
var names = ['Emily', 'William', 'Charlotte', 'James', 'Olivia', 'Benjamin', 'Sophia', 'Henry', 'Isabella', 'Edward'];

</script>

<script>
    function otherQuestionnaires(){
        if (input[name="studentAns"] == "Yes"){
            if (q5SelectedOption == "Depression") {
                <div class="container">
                    <div class="title">Depression Questionnaire </div>
                    <p id="log" style="
                    color:black; 
                    font-weight: bold;
                    font-size: larger;
                    text-align: left;">
                    <input type="text" id="result" readonly/>
                    </p>
                    <div class="content">
                    
                        <form action="/psychologyDiagnosisQuestionnaire" method="post">
                            <div class="user-details">
                            <div class="input-box">
                                <span class="details">Mobile Number</span>
                                <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Enter Your Mobile Number"/>
                            </div>
                            <div class="input-box">
                                <span class="details">This is a test!</span>
                                <select name="sex" id="sex">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Male</option>
                                    <option value>Female</option>
                                    <option value>No Preference</option>
                                </select>
                            </div>
                            <div class="input-box">                       
                                <span class="details">What is your preferred language for therapy sessions?</span>
                                <select name="language" id="language">
                                <option value="" disabled selected>Select</option>
                                <option value>French</option>
                                <option value>English</option>
                                <option value>No Preference</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">What type of treatment setting do you prefer?</span>
                                <select name="treatment_setting" id="treatment_setting">
                                    <option value="" disabled selected>Select</option>
                                    <option value>In-person therapy</option>
                                    <option value>Online therapy</option>
                                    <option value>Hybrid (a mix of in-person and online)</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">Are you looking for a therapist who focuses on a specific age group?</span>
                                <select name="age_group" id="age_group">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Children and Adolescents</option>
                                    <option value>Adults</option>
                                    <option value>No Preference</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">What is your primary concern that you want to address with a pscyhologist?</span>
                                <select name="type_of_therapy" id="type_of_therapy">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Depression</option>
                                    <option value>Anxiety</option>
                                    <option value>Relationship Issues</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">Do you have a preference for a specific type of psychological treatment modality or what type of therapy you are interested in?</span>
                                <select name="psychological_treatment" id="psychological_treatment">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Psychodynamic therapy</option>
                                    <option value>Behavioral therapy</option>
                                    <option value>Cognitive therapy</option>
                                </select>
                            </div>

                            <div class="input-box">
                                <span class="details">What is your preferred time frame for therapy sessions?</span>
                                <select name="time_frame" id="time_frame">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Morning</option>
                                    <option value>Afternoon</option>
                                    <option value>Evening</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">How frequently would you like to attend therapy sessions?</span>
                                <select name="frequency" id="frequency">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Weekly</option>
                                    <option value>Bi-weekly</option>
                                    <option value>Monthly</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <span class="details">What is your budget for therapy sessions?</span>
                                <select name="cost" id="cost">
                                    <option value="" disabled selected>Select</option>
                                    <option value>Less than $100 per session</option>
                                    <option value>$100-$150 per session</option>
                                    <option value>More than $150 per session</option>
                                </select>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Submit" onclick="checkAnswer(); otherQuestionnaire()"/>
                        </div>
                    </form>
                </div>
                </div>
            }
        }
    }
</script>

</body>
