<!-- Diabetology, code started for accessing doctors specializing in diabetology (Jennifer Rovt, Ramis Ileri, Sridhanussh Srinivasan) Group 1, Course-BMG5111, Winter 2023 -->

<!DOCTYPE html>
<html lang:"en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- displays site properly based on user's device -->

    
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="./images/favicon-32x32.png"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
        rel="stylesheet"
     />


    <title>E-Hospital | Psychology</title>

    <style>
      *{
          box-sizing: border-box;
      }
      body{
          padding: 0;
          margin: 0;
      }
      a{
          text-decoration: none;
      }
      .cont {
          max-width: 960px;
          margin: 0 auto;
      }
      .roww {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 1rem;
          margin-left: 0px;
          margin-right: 0px;
      }
      .coll {
          width: 33.3333333%;
          padding: 15px;
      }
      .coll .card {
          width: 100%;
          box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
          transition: transform 0.3s ease;
      }
      .coll img {
          width: 100%;
          height: auto;
          border: 0;
      }
      .coll .card-body {
          padding: 0 15px 15px 15px;
          background-color: #fff;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
      }
      .card-body h5 {
          font-size: 24px;
          margin: 7px 0;
      }
      .card:hover{
          transform: translateY(-10px);
          transition: transform 0.3s ease;
      }
      .card p {
          color: #6c757d;
      }
      .card-body .Availability-text span {
          color: #e74c3c;
      }
      .card-body h5 a{
          color: #222;
      }
      
      @media(min-width: 577px) and (max-width: 768px){
          .coll{
              width: 50%;
          }
      }
      @media(max-width: 576px){
          .coll{
              width: 100%;
          }
      }
      </style>

<link rel="stylesheet" type="text/css" href="/css/diabetology.css" />


</head>

<body>

    <header>
        <%- include('../partials/header') -%>
    </header>

    <section class="banner">
      <div class="container">
        <!--<div class="banner__image"></div>-->

        <div class="banner__text container--pall">
          <h0 style="margin-bottom: 1rem;">Your Recommended Psychologist:</h0>
        </div>
        
      </div>
    </section>

      
      <div class="cont">
          <div class="roww" name="cardRow">

          </div>
      </div>
      
      <script>
      
var res = {};
///psychologistRecommendation?phoneNumber=6131230002&type=1&doc=Olivia
let params = (new URL(document.location)).searchParams;
let phoneNumber = params.get("phoneNumber");
let type = params.get("type");
let chosen_dr = params.get("doc")

    //   fetch( 'http://localhost:5000/get_diabetologyList')
       fetch( '/get_psychologistsregistration')

        .then((response) => response.json())
        .then((data) => 
            populate(data)

        );
      
     function addCard(name, specialization, location, availability){
          var anchor = document.getElementsByName("cardRow")[0];
          var div = '<div class="coll"><div class="card"><img src="/images/DocProfile.png"><div class="card-body"><h5 class="doctor-name"><a href="#">' + name + '</a></h5><p class="Availability-text">' + specialization + ' <span class="Availability"> Availability: ' + availability + '</span></p><p class="card-text">'+ location + '</p></div></div></div>';
          anchor.insertAdjacentHTML("beforeend", div);
      };
      
      function populate(res){
      for (var i = 0; i < res.length; i ++){
        if (res[i].uuid == chosen_dr){
            var ava = res[i].Availability; 
            var name = "Dr. " + res[i].Fname + " " + res[i].Mname + " " + res[i].Lname;
            var loc = res[i].Location2 + "\n" + res[i].City + " " + res[i].Province + " " + res[i].Country + "\n" + res[i].PostalCode;
            var spe = res[i].Specialization;
            addCard(name, spe, loc, ava);

            const myButton = document.getElementById("myButton");
            console.log(type)
            if (type == 1) {
                myButton.setAttribute("href", "/psychologyDepressionQuestionnaire?phoneNumber="+phoneNumber);
            }
            else if (type == 2) {
                myButton.setAttribute("href", "/psychologyAnxietyQuestionnaire?phoneNumber="+phoneNumber);
            }
        }

      }
    }
    </script>
    <section class="appt" style="margin-top: 2rem; margin-bottom: 3rem;"> 
        <div class="container flex-jc-c">
            <a id="myButton" href= "/thankyou" class="button appt">Fill in additional questionnaire</a>
        </div>
        </div>
    </section>

    <section class="appt" style="margin-top: 2rem; margin-bottom: 3rem;"> 
      <div class="container flex-jc-c">
          <a href="/contact-us" class="button appt">Request An Appointment</a>
        </div>
      </div>
    </section>

    <footer>
        <%- include('../partials/footer-new') -%>
    </footer>
</body>
</html>
