<!DOCTYPE html>
<html lang="en-CA">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>

  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>E-Hospital</title>
  <meta name="author" content="E-Hospital" />
  <link href="css/services.css" rel="stylesheet" type="text/css">
  <script>
    function redirectToKidney() {
      window.location.href = 'https://mlmodel2.herokuapp.com/';
    }
    </script>

</head>

<header>
  <%- include('../partials/header') -%>
</header>



  <body>
 <!-- First Section -->
<div class="content-container" style="background-color: #ffffff";>
  <div class="col-container">
    <div class="column-one">
      <h1 class="xl-font"><b>Services</b></h1><br>
      <h3 class="l-font"><b></b></h3><br>
    </div>
    <div class="column-two">
        <img class="zigzagimg" src="images/Services.png" width="335" height="471" >
    </div>
  </div>
</div>
<!-- First Section -->


  <div id="mainbox1">
    <div class="card1">
      <img class="imgservices"
        src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
        alt="" />
      <h1 class="textheading">Team Name</h1>
      <p class="pservices">Add your description</p><br>
      <center><a class="button" href="/findadentist" style="color: rgb(255, 255, 255); text-decoration: none;">Find a
          Dentist</a></center>
    </div>

    <div class="card1">
      <img class="imgservices"
        src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
        alt="" />
      <h1 class="textheading">Ram, Haoming</h1>
      <p class="pservices">Add your description</p><br>
      <center><a class="button" href="/heartDiseasePrediction"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Disease Prediction</a></center>
      </div>

      <!--Group 5 -Speciality Page: Respiratory Medicine-->
      <div class="card1">
        <img class="imgservices" src="/images/respiratory.jpeg" alt="" />
        <h1 class="textheading">Group 5 Speciality Page</h1>
        <p class="pservices">Respiratory Medicine</p><br>
        <center><a class="button" href="/respiratoryMedicine"
          style="color: rgb(255, 255, 255); text-decoration: none;">Respiratory Medicine Disease Prediction</a></center>
      </div>
      <!--Group 5 -Speciality Page: Urology-->
    
    


      <div id="mainbox1">
      <div class="card1">

        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href="/findadentist"
          style="color: rgb(255, 255, 255); text-decoration: none;">Find a Dentist</a></center>
      </div>
      
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Ram, Haoming</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button" href="/heartDiseasePrediction"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Disease Prediction</a></center>

        <img class="imgservices" src="/images/urology.jpeg" alt="" />
        <h1 class="textheading">Group 5 Speciality Page</h1>
        <p class="pservices">Urology</p><br>
        <center><a class="button"  onclick="redirectToKidney()"
          style="color: rgb(255, 255, 255); text-decoration: none;">Chronic Kidney Disease Prediction</a></center>

      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Ram, Varun, Yufei</h1>
        <p class="pservices">Alzheimers Prediction</p><br>
        <center><a class="button" href="/alzheimersPrediction"
          style="color: rgb(255, 255, 255); text-decoration: none;">Alzheimers Prediction</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />

        <h1 class="textheading">Pneumonia</h1>
        <p class="pservices">Prediction of Pneumonia</p><br>
        <center><a class="button"  href="/pneumonia"
          style="color: rgb(255, 255, 255); text-decoration: none;">Pneumonia Prediction</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Parastoo, Ram</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href="/cancerDetection"
          style="color: rgb(255, 255, 255); text-decoration: none;">Cancer Detection</a></center>

      </div>
 
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Tejasavi, Maria</h1>
        <p class="pservices">Heart Stroke Prediction</p><br>
        <center><a class="button"  href="/heartStrokeDetection"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Stroke Prediction</a></center>
          </div>
          
        <!-- add internalmedicine part into service department. (Xiaolin Zhou, Yufei Wang, Amitoj)Group8 BMG5109 2023 Winter -->
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Xiaolin, Yufei, Amitoj</h1>
        <p class="pservices">Internal Medicine</p><br>
        <center><a class="button"  href="/internalmedicine"
          style="color: rgb(255, 255, 255); text-decoration: none;">internalmedicine</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Gastro</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href="/gastroImagePrediction "
          style="color: rgb(255, 255, 255); text-decoration: none;">Gastro Image Prediction</a></center>
      </div>

    </div>

    <div class="card1">
      <img class="imgservices"
        src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
        alt="" />
      <h1 class="textheading">Team Name</h1>
      <p class="pservices">Add your description</p><br>
      <center><a class="button" href=" " style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
    </div>

    <div class="card1">
      <img class="imgservices" src='/images/diabetes_profile.jpg' alt="" />
      <h1 class="textheading">Diabetology</h1>
      <p class="pservices">Get information about diabetes and assess your risk</p><br>
      <center><a class="button" href="/diabetology" style="color: rgb(255, 255, 255); text-decoration: none;">Learn
          More</a></center>
    </div>

    <div class="card1">
      <img class="imgservices" src='images/ecg_ml.jpg' alt="" />
      <h1 class="textheading">ECG Arrhythmia Diagnostics</h1>
      <p class="pservices">Get information about arrhythmia and assess your risk</p><br>
      <center><a class="button" href="/arrhythmia" style="color: rgb(255, 255, 255); text-decoration: none;">Learn
          More</a></center>
    </div>

    <div class="card1">
      <img class="imgservices"
        src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
        alt="" />
      <h1 class="textheading">Team 8</h1>
      <p class="pservices">Alzheimer's Detection using MRI Images</p><br>
      <center><a class="button" href="/AlzheimerMRIDetection" style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
    </div>
    <div class="card1">
      <img class="imgservices"
        src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
        alt="" />
      <h1 class="textheading">Nitant Kunal Wanjari</h1>
      <p class="pservices">101252493 - Carleton University
      </p><br>
      <center><a class="button" href="https://sahilk.sgedu.site/malaria.html" style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
    </div>
    <div class="card1">
      <img class="imgservices"
        src="https://media.istockphoto.com/id/1183325543/vector/heart-isometric-health-care-concept-red-shape-and-heartbeat.jpg?s=612x612&w=0&k=20&c=mBkVFXUpbkpoSrP1lEbcWRQP94wzjyBkYGLTkI0i7RA="
        alt="" />
      <h1 class="textheading">Adeeb, Anas</h1>
      <p class="pservices">This is a ML model which can predict if you have any heart ailment </p><br>
      <center><a class="button" href="https://finalheart.herokuapp.com/"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Disease Prediction</a></center>
    </div>
  </div><br><br><br><br>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src='/images/diabetes_profile.jpg' alt="" />
        <h1 class="textheading">Diabetology</h1>
        <p class="pservices">Get information about diabetes and assess your risk</p><br>
        <center><a class="button"  href="/diabetology"
          style="color: rgb(255, 255, 255); text-decoration: none;">Learn More</a></center>
      </div>
      <div class="card1">
        <img class="imgservices" src="/images/HeartDiseaseLogo.png" alt="" />
        <h1 class="textheading">Speciality Page - Cardiology</h1>
        <p class="pservices">Assess your risk of Heart Disease</p><br>
        <center><a class="button"  href="/heartdiseasefrontend"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Disease Prediction</a></center>
      </div>
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>

    </div><br><br><br><br>
  

                
  </body>

  <footer>
            <%- include('../partials/footer-new') -%>
  </footer>
  

</html>
