<!DOCTYPE html>
<html lang="en-CA">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>

  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>E-Hospital</title>
  <meta name="author" content="E-Hospital" />
  <link href="css/services.css" rel="stylesheet" type="text/css">

</head>

<header>
  <%- include('../partials/header') -%>
</header>



  <body>
 <!-- First Section -->
<div class="content-container" style="background-color: #ffffff";>
  <div class="col-container">
    <div class="column-one">
      <h1 class="xl-font"><b>Services</b></h1><br>
      <h3 class="l-font"><b></b></h3><br>
    </div>
    <div class="column-two">
        <img class="zigzagimg" src="images/Services.png" width="335" height="471" >
    </div>
  </div>
</div>
<!-- First Section -->



      <div id="mainbox1">
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href="/findadentist"
          style="color: rgb(255, 255, 255); text-decoration: none;">Find a Dentist</a></center>
      </div>
      
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Ram, Haoming</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button" href="/heartDiseasePrediction"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Disease Prediction</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Ram, Varun, Yufei</h1>
        <p class="pservices">Alzheimers Prediction</p><br>
        <center><a class="button" href="/alzheimersPrediction"
          style="color: rgb(255, 255, 255); text-decoration: none;">Alzheimers Prediction</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />

        <h1 class="textheading">Pneumonia</h1>
        <p class="pservices">Prediction of Pneumonia</p><br>
        <center><a class="button"  href="/pneumonia"
          style="color: rgb(255, 255, 255); text-decoration: none;">Pneumonia Prediction</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Parastoo, Ram</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href="/cancerDetection"
          style="color: rgb(255, 255, 255); text-decoration: none;">Cancer Detection</a></center>

      </div>
 
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Tejasavi, Maria</h1>
        <p class="pservices">Heart Stroke Prediction</p><br>
        <center><a class="button"  href="/heartStrokeDetection"
          style="color: rgb(255, 255, 255); text-decoration: none;">Heart Stroke Prediction</a></center>
          </div>
          
        <!-- add internalmedicine part into service department. (Xiaolin Zhou, Yufei Wang, Amitoj)Group8 BMG5109 2023 Winter -->
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Xiaolin, Yufei, Amitoj</h1>
        <p class="pservices">Internal Medicine</p><br>
        <center><a class="button"  href="/internalmedicine"
          style="color: rgb(255, 255, 255); text-decoration: none;">internalmedicine</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>

      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>
      <div class="card1">
        <img class="imgservices" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
        <h1 class="textheading">Team Name</h1>
        <p class="pservices">Add your description</p><br>
        <center><a class="button"  href=" "
          style="color: rgb(255, 255, 255); text-decoration: none;">Button</a></center>
      </div>

    </div><br><br><br><br>
  

                
  </body>

  <footer>
            <%- include('../partials/footer-new') -%>
  </footer>
  
</html>
