


<%- include('../partials/header') -%>

<!DOCTYPE html>
<html lang="en-CA">
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:01 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charSet="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Register | E-Hospital</title>
  <meta name="author" content="E-Hospital" />

  <meta property="og:url" content="register.html" />
  <meta property="og:site_name" content="E-Hospital" />
  <meta property="og:title" content="E-Hospital" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://img1.wsimg.com/isteam/stock/Ddj9aVd" />
  <meta property="og:locale" content="en_CA" />
  <link href="css/login.css" rel="stylesheet" type="text/css">

</head>

<body>
  
  <div class="conatainer mt-5 ps-5">
    <div class="conatiner" style="text-align: center; margin-top: 10rem; margin-bottom: 10rem;padding: 5%;">
      <a  class="btn btn-primary p-5 btn-new" href="/patientLogin" style="color: white; text-decoration: none;">Login for Patient</a>
      <!-- <button>
      </button> -->
      <a class="btn btn-primary p-5 m-2 btn-new" href="/doctorLogin"style="color: white; text-decoration: none;">Login for Doctor</a>
      <!-- <button >
  
      </button> -->
      <a class="btn btn-primary p-5 btn-new" href="/hospitalLogin"style="color: white; text-decoration: none;">Login for Hospital</a>
      <!-- <button >
  
      </button> -->
  
      <!-- <button class="btn btn-primary p-5">
        <a href="/" style="color: white; text-decoration: none;"></a></button>
      <button class="btn btn-primary p-5 m-2">
        <a href="/"style="color: white; text-decoration: none;"></a>
      </button>
      <button class="btn btn-primary p-5">
        <a href="/"style="color: white; text-decoration: none;"></a>
      </button> -->
    </div>
  </div>

  
        
  <footer>
<%- include('../partials/footer-new') -%>

</footer>
  </body>
<!-- Mirrored from e-hospital.godaddysites.com/register by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Nov 2022 05:04:02 GMT -->

</html>















