<!DOCTYPE html>
<html>
  <head>
    <style>
      .notification-widget {
  display: flex;
  align-items: center;
  color: white;
  background-color: red;
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  cursor: pointer;
}

.notification-icon {
  background-image: url('path/to/notification-icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.notification-text {
  flex: 1;
  text-align: center;
}

.notification-message {
  font-size: 16px;
  margin: 0;
}

#available-doctors {
  font-weight: bold;
  margin: 0 5px;
}


    </style>
  </head>
  <body>
    <div class="notification-widget">
  <span class="notification-icon"></span>
  <div class="notification-text">
    <p class="notification-message">We have <span id="available-doctors">0</span> doctors available and online.</p>
  </div>
</div>


  </body>
</html>
